/*Importing fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

:root{
    /*Colours*/
    --white-color:#fff;
    --dark-color:#0d0d0d;
    --basic-color:#130609;
    --primary-color:#3b141c;
    --secondary-color:#f37a16;
    --light-pink-color:#faf4f5;
    --medium-gray-color:#ccc;
    /*Font size*/
    --font-size-s:0.9rem;
    --font-size-n:1rem;
    --font-size-m:1.12rem;
    --font-size-l:1.5rem;
    --font-size-xl:2rem;
    --font-size-xxl:2.3rem;

    /*Font weight*/
    --font-weight-normal:400;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;

    /*Border radius*/
    --border-radius-s:8px;
    --border-radius-m:30px;
    --border-radius-circle:50%;

    /*Site max width*/
    --site-max-width:1300px;
}
/*Styling for the whole site*/
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    width: 100%;
    height: 100%; 
}

.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}
/*Nav Styling*/
header{
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--basic-color);
}

header .navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-menu{
    display: flex;
    gap: 10px;
}
.logo-text {
    color: var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu .nav-items a{
    padding: 10px 18px;
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    color:var(--white-color);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-items a:hover{
    color: var(--primary-color);
    background: var(--secondary-color);

}

/*Hero section styling*/

.hero-section{
    min-height:100vh;
    background: var(--basic-color);
}
.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
}

.hero-section .hero-details .title{
    font-size: var(--font-size-xxl);
    color: var(--secondary-color);
    font-family: "Miniver",cursive;
}
.hero-section .hero-details .subtitle{
    margin-top: 8px;
    max-width: 70%;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}
.navbar :where(#menu-close-button,#menu-open-button){
    display: none;
}
.hero-section .hero-details .description{
    margin: 24px 0 40px;
    max-width: 70%;
    font-size: var(--font-size-m);
}

.hero-section .hero-details .buttons{
    display: flex;
    gap: 23px;
}
.hero-section .hero-image-wrapper{
    max-width: 500px;
    margin-right: 30px;
}

.hero-section .hero-details .button{
    padding: 10px 26px;
    color: var(--primary-color);
    border: 2px solid transparent;
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    font-weight: var(--font-size-m);
    transition: 0.3s ease;
}


.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us{
    color: var(--white-color);
    border-color: var(--white-color);
    background: transparent;
}

.hero-section .hero-details .contact-us:hover{
       padding: 10px 26px;
    color: var(--primary-color);
    border: 2px solid transparent;
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    font-weight: var(--font-size-m);
    transition: 0.3s ease;

}
/*Responsive media query for max width of 900px  */
@media screen and (max-width:900px){
    :root{
    --font-size-m:1rem;
    --font-size-l:1.4rem;
    --font-size-xl:1.6rem;
    --font-size-xxl:1.9rem;
    }

    body.show-mobile-menu header::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(3px);
        background: rgba(0, 0, 0, 0.2);
    }

    body.show-mobile-menu{
        overflow: hidden;
    }

    .navbar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;
    }
    .navbar :where(#menu-open-button){
        color: var(--white-color);
    }
      .navbar :where(#menu-close-button,#menu-open-button){
        display: block;
        font-size: var(--font-size-l);
    }
    .navbar .nav-menu{
        display: block;
        position: fixed;
        top: 0;
        left: -500px;
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 100px;
        background: var(--white-color);
        transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu{
        left: 0;
    }
    .navbar .nav-menu .nav-items a{
        color: var(--dark-color);
        display: block;
        margin-top: 20px;
        font-size: var(--font-size-l);
    }

    /*hero section*/
    .hero-section .section-content{
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;

    }
    .hero-section .hero-details :is(.subtitle,.description){
        max-width: 100%;
    }

    .hero-section .hero-details .buttons{
        justify-content: center;
    }

    .hero-section .hero-image-wrapper{
        max-width: 300px;
        margin-right: 0;
    }
}
